<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap5/css/bootstrap.min.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="./js/element-ui/lib/theme-chalk/index.css">
    <script src="./js/element-ui/lib/index.js"></script>
    <title>发布商品</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo"  mode="horizontal" @select="handleSelect">
                <el-menu-item style="float: right" index="1">处理中心</el-menu-item>
                <el-submenu style="float: right" index="2">
                    <template slot="title">我的工作台</template>
                    <el-menu-item index="2-1">选项1</el-menu-item>
                    <el-menu-item index="2-2">选项2</el-menu-item>
                    <el-menu-item index="2-3">选项3</el-menu-item>
                    <el-submenu index="2-4">
                        <template slot="title">选项4</template>
                        <el-menu-item index="2-4-1">选项1</el-menu-item>
                        <el-menu-item index="2-4-2">选项2</el-menu-item>
                        <el-menu-item index="2-4-3">选项3</el-menu-item>
                    </el-submenu>
                </el-submenu>
                <el-menu-item style="float: right" index="3">消息中心</el-menu-item>
            </el-menu>
        </el-header>
        <el-main>
            <div class="container w-50">
                <el-input v-model="goods.goodsName" placeholder="请输入商品名称" class="mt-3"></el-input>
                <el-input v-model="goods.price" placeholder="请输入定价" class="mt-3">
                    <template slot="prepend">￥</template>
                </el-input>
                <el-input
                        type="textarea"
                        :rows="3"
                        placeholder="请输入商品描述"
                        v-model="goods.introduction"
                        class="mt-3">
                </el-input>
                <el-select v-model="value" placeholder="请选择商品类别" class="mt-3">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="container mt-3">
                <div class="row">
                    <div class="col">
                        <el-upload
                                style="float: right"
                                class="upload-demo"
                                drag
                                action="http://localhost/imgs/cover/"
                                name="file"
                                limit="1">
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text fw-bold">请上传商品封面图</div>
                            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                        </el-upload>
                    </div>
                    <div class="col">
                        <el-upload
                                style="float: left"
                                class="upload-demo"
                                drag
                                action="https://jsonplaceholder.typicode.com/posts/"
                                multiple
                                :file-list="fileList"
                                list-type="picture">
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text fw-bold">请上传商品详情图（可多张）</div>
                            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                        </el-upload>
                    </div>
                </div>
            </div>
            <div class="container text-center mt-5 w-50">
                <el-button type="primary" class="w-25">发布商品</el-button>
            </div>
        </el-main>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            goods:{}
        },
        methods:{

        },
        created(){

        }
        //检验价格的正则表达式：/^[0-9]*.?[0-9]*$/
    })
</script>
</html>