<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap5/css/bootstrap.min.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="./js/element-ui/lib/theme-chalk/index.css">
    <script src="./js/element-ui/lib/index.js"></script>
    <title>商品发布</title>
</head>
<body style="background-color: #f7f7f7">
<div id="app">
    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item style="float: right" index="5">
                    <a style="text-decoration: none" href="userDetails.html">我的信息</a>
                </el-menu-item>
                <el-submenu style="float: right;margin-top: 2px" index="4">
                    <template slot="title">我的交易</template>
                    <el-menu-item index="4-1">
                        <a style="text-decoration: none" href="purchaseHistory.html" class="text-secondary">我的购买</a>
                    </el-menu-item>
                    <el-menu-item index="4-2">
                        <a style="text-decoration: none" href="sellHistory.html" class="text-secondary">我的卖出</a>
                    </el-menu-item>
                </el-submenu>
                <el-menu-item style="float: right" index="3">
                    <a style="text-decoration: none" href="myGoods.html">我的商品</a>
                </el-menu-item>
                <el-menu-item style="float: right" index="2">
                    <a style="text-decoration: none" href="addGoods.html">商品发布</a>
                </el-menu-item>
                <el-menu-item style="float: right" index="1">
                    <a style="text-decoration: none" href="goods.html">商品浏览</a>
                </el-menu-item>
            </el-menu>
        </el-header>
        <el-main>
            <div class="container w-50">
                <el-input v-model="goods.goodsName" placeholder="请输入商品名称" class="mt-4"></el-input>
                <div class="row">
                    <div class="col">
                        <el-input v-model="goods.price" placeholder="请输入定价" class="mt-4">
                            <template slot="prepend">￥</template>
                        </el-input>
                    </div>
                    <div class="col">
                        <el-select v-model="goods.kindId" placeholder="请选择商品类别" class="mt-4 w-100">
                            <el-option
                                    v-for="item in kindList"
                                    :key="item.id"
                                    :label="item.kindName"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <el-input
                        type="textarea"
                        :rows="3"
                        placeholder="请输入商品描述"
                        v-model="goods.introduction"
                        class="mt-4">
                </el-input>
            </div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col text-end">
                        <el-upload
                                class="upload-demo"
                                ref="cover"
                                drag
                                action="http://localhost/images/cover/"
                                name="file"
                                limit="1"
                                list-type="picture"
                                :on-change="onCoverChange">
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text fw-bold">请上传商品封面图</div>
                            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                            <div class="el-upload__text">只能上传jpg/png文件，且不超过500kb</div>
                        </el-upload>
                    </div>
                    <div class="col text-start">
                        <el-upload
                                class="upload-demo"
                                ref="details"
                                drag
                                action="http://localhost/images/details/"
                                name="file"
                                limit="10"
                                list-type="picture"
                                :on-change="onDetailsChange">
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text fw-bold">请上传商品详情图（可多张）</div>
                            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                            <div class="el-upload__text">只能上传jpg/png文件，且不超过500kb</div>
                        </el-upload>
                    </div>
                </div>
            </div>
            <div class="container text-center mt-5 w-50">
                <el-button type="primary" class="w-25" @click="addGoods">发布商品</el-button>
            </div>
        </el-main>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            activeIndex:'2',
            goods:{},
            kindList:[],
            detailsList:[],
            cover:[],
            imgList:[]
        },
        methods:{
            onCoverChange(file,fileList){
                this.cover=fileList
            },
            onDetailsChange(file,fileList){
                this.detailsList=fileList
            },
            getKindList(){
                axios.get("/goods/kindList").then((res)=>{
                    this.kindList=res.data
                })
            },
            addGoods(){
                let flag=true
                if(!this.goods.goodsName){
                    flag=false
                    this.$message({
                        showClose: true,
                        message: '未填写商品名称',
                        type: 'error'
                    })
                    return
                }
                if(!this.goods.price){
                    flag=false
                    this.$message({
                        showClose: true,
                        message: '未填写价格',
                        type: 'error'
                    })
                    return
                }
                if(!/^[0-9]*.?[0-9]{0,2}$/.test(this.goods.price)){
                    flag=false
                    this.$message({
                        showClose: true,
                        message: '价格格式错误',
                        type: 'error'
                    })
                    return
                }
                if(!this.goods.kindId) {
                    flag = false
                    this.$message({
                        showClose: true,
                        message: '未选择商品类别',
                        type: 'error'
                    })
                    return
                }
                if(this.cover.length===0){
                    flag=false
                    this.$message({
                        showClose: true,
                        message: '未上传封面图',
                        type: 'error'
                    })
                    return
                }
                if(flag){
                    this.goods.imgPath=this.cover[0].response
                    axios.post("/goods",this.goods).then((res)=>{
                        if(res.data!==""){
                            this.goods.id=res.data
                            for(let i in this.detailsList){
                                this.imgList.push(this.detailsList[i].response)
                            }
                            axios.post("/goods/details/"+this.goods.id,this.imgList).then((res)=>{
                                this.$message({
                                    showClose: true,
                                    message: '发布成功',
                                    type: 'success'
                                })
                                this.goods={}
                                this.imgList=[]
                                this.detailsList=[]
                                this.cover=[]
                                this.$refs.cover.clearFiles()
                                this.$refs.details.clearFiles()
                            })
                        }
                    })
                }
            },
        },
        created(){
            this.getKindList();
        }
    })
</script>
</html>