<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap5/css/bootstrap.min.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="./js/element-ui/lib/theme-chalk/index.css">
    <script src="./js/element-ui/lib/index.js"></script>
    <title>浏览商品</title>
</head>
<body style="background-color: #f7f7f7">
<div id="app">
    <template>
    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item style="float: right" index="1">处理中心</el-menu-item>
                <el-submenu style="float: right" index="2">
                    <template slot="title">我的工作台</template>
                    <el-menu-item index="2-1">选项1</el-menu-item>
                    <el-menu-item index="2-2">选项2</el-menu-item>
                    <el-menu-item index="2-3">选项3</el-menu-item>
                    <el-submenu index="2-4">
                        <template slot="title">选项4</template>
                        <el-menu-item index="2-4-1">选项1</el-menu-item>
                        <el-menu-item index="2-4-2">选项2</el-menu-item>
                        <el-menu-item index="2-4-3">选项3</el-menu-item>
                    </el-submenu>
                </el-submenu>
                <el-menu-item style="float: right" index="3">消息中心</el-menu-item>
            </el-menu>
        </el-header>
        <el-main>
            <div class="container bg-white p-3" style="border-radius: 12px">
                <el-row :gutter="20">
                    <el-col :span="12" class="text-end">
                        <el-image :src="goods.imgPath" fit="contain" v-if="goods.imgPath"></el-image>
                    </el-col>
                    <el-col :span="12" class="p-5">
                        <p class="fs-1">{{goods.goodsName}}</p>
                        <div>
                            <span class="fs-4">价格&nbsp;</span>
                            <span class="fs-2 text-primary">￥</span>
                            <span class="fs-1 text-primary">{{goods.price}}</span>
                        </div>
                        <div class="fs-4 mt-4">商品描述</div>
                        <div class="fs-4 lead">{{goods.introduction}}</div>
                    </el-col>
                </el-row>
            </div>
            <el-row :gutter="20" class="m-5">
                <el-col :span="4" :offset="8"><el-button type="primary" class="w-100 fs-4">立刻订购</el-button></el-col>
                <el-col :span="4"><el-button plain class="w-100 fs-4">加入购物车</el-button></el-col>
            </el-row>
            <div class="container bg-white p-3 text-center" style="border-radius: 12px" v-if="details[0]">
                <div v-for="img in details">
                    <el-image :src="img" fit="contain" class="m-3"></el-image>
                </div>
            </div>
        </el-main>
    </el-container>
    </template>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            goods:{},
            details:[]
        },
        methods: {

        },
        created() {

        },
        mounted(){
            let search=window.location.search
            search=search.substr(1)
            let params=search.split("=")
            let id=params[1]
            axios.get("/goods/"+id).then((res)=>{
                this.goods=res.data
            })
            axios.get("/goods/details/"+id).then((res)=>{
                this.details=res.data
            })
        }
    })
</script>
</html>