<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap5/css/bootstrap.min.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="./js/element-ui/lib/theme-chalk/index.css">
    <script src="./js/element-ui/lib/index.js"></script>
    <title>商品浏览</title>
    <style>
        .box{
            width:100%;
            height:0;
            padding-bottom: 100%;
            position: relative;
        }
        .pic{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body style="background-color: #f7f7f7">
<div id="app">
    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item style="float: right" index="5">
                    <a style="text-decoration: none" href="userDetails.html">我的信息</a>
                </el-menu-item>
                <el-submenu style="float: right;margin-top: 2px" index="4">
                    <template slot="title">我的交易</template>
                    <el-menu-item index="4-1">
                        <a style="text-decoration: none" href="purchaseHistory.html" class="text-secondary">我的购买</a>
                    </el-menu-item>
                    <el-menu-item index="4-2">
                        <a style="text-decoration: none" href="sellHistory.html" class="text-secondary">我的卖出</a>
                    </el-menu-item>
                </el-submenu>
                <el-menu-item style="float: right" index="3">
                    <a style="text-decoration: none" href="myGoods.html">我的商品</a>
                </el-menu-item>
                <el-menu-item style="float: right" index="2">
                    <a style="text-decoration: none" href="addGoods.html">商品发布</a>
                </el-menu-item>
                <el-menu-item style="float: right" index="1">
                    <a style="text-decoration: none" href="goods.html">商品浏览</a>
                </el-menu-item>
            </el-menu>
        </el-header>
        <el-main>
            <div class="container my-5">
                <el-row :gutter="12">
                    <el-col :span="16">
                        <el-input v-model="searchKey" placeholder="请输入内容">
                            <i slot="prefix" class="el-input__icon el-icon-search"></i>
                        </el-input>
                    </el-col>
                    <el-col :span="3">
                        <el-select v-model="searchKindId" placeholder="选择商品类别" class="w-100">
                            <el-option
                                    v-for="item in kindList"
                                    :key="item.id"
                                    :label="item.kindName"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="3">
                        <el-switch
                                active-text="按热度"
                                inactive-text="按时间"
                                v-model="isLikeLevel"
                                class="mt-2"
                                @change="getGoods">
                        </el-switch>
                    </el-col>
                    <el-col :span="2">
                        <el-button type="primary" icon="el-icon-search" @click="getGoods" class="w-100">搜索</el-button>
                    </el-col>
                </el-row>
            </div>
            <div class="container">
                <el-row :gutter="20">
                    <div v-for="goods in goodsList">
                        <el-col :xs="24" :sm="12" :md="8" :lg="6">
                            <a :href="'/details.html?id='+goods.id" style="text-decoration:none" target="_blank" rel="opener">
                                <el-card :body-style="{ padding: '0px' }" shadow="hover" class="mb-4"
                                         style="border-radius: 12px">
                                    <div class="box">
                                        <img :src="goods.imgPath" style="object-fit: contain" class="pic">
                                    </div>
                                    <div style="padding: 24px;">
                                        <div class="fs-5">{{goods.goodsName}}</div>
                                        <div>
                                            <span class="fs-5 text-primary">￥</span>
                                            <span class="fs-3 fw-bold text-primary">{{goods.price}}</span>
                                        </div>
                                    </div>
                                </el-card>
                            </a>
                        </el-col>
                    </div>
                </el-row>
            </div>
            <el-pagination
                    class="text-center"
                    background
                    layout="prev, pager, next"
                    :total="total"
                    :page-size="pageSize"
                    @current-change="changePage">
            </el-pagination>
        </el-main>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            activeIndex:'1',
            goodsList: [],
            total: 0,
            pageSize: 12,
            kindList:[],
            searchKey:undefined,
            searchKindId:undefined,
            currentPage:1,
            isLikeLevel:false
        },
        methods: {
            changePage(currentPage) {
                this.currentPage=currentPage
                this.getGoods()
            },
            getGoods(){
                if(this.isLikeLevel){
                    if(this.searchKey===undefined||this.searchKey===""){
                        if(this.searchKindId===undefined||this.searchKindId===0){
                            axios.get("/goods/likeLevel/" + this.pageSize + "/"+this.currentPage).then((res) => {
                                this.goodsList = res.data.data
                                this.total = res.data.totalCount
                            })
                        }
                        else{
                            axios.get("/goods/kindAndLikeLevel/"+this.searchKindId+"/"+this.pageSize + "/"+this.currentPage).then((res)=>{
                                this.goodsList = res.data.data
                                this.total = res.data.totalCount
                            })
                        }
                    }
                    else{
                        if(this.searchKindId===undefined||this.searchKindId===0){
                            axios.get("/goods/keyWordAndLikeLevel/" +this.searchKey+"/"+ this.pageSize + "/"+this.currentPage).then((res) => {
                                this.goodsList = res.data.data
                                this.total = res.data.totalCount
                            })
                        }
                        else{
                            axios.get("/goods/kindAndKeyWordAndLikeLevel/"+this.searchKindId+"/"+this.searchKey+"/"+this.pageSize + "/"+this.currentPage).then((res)=>{
                                this.goodsList = res.data.data
                                this.total = res.data.totalCount
                            })
                        }
                    }
                }
                else{
                    if(this.searchKey===undefined||this.searchKey===""){
                        if(this.searchKindId===undefined||this.searchKindId===0){
                            axios.get("/goods/all/" + this.pageSize + "/"+this.currentPage).then((res) => {
                                this.goodsList = res.data.data
                                this.total = res.data.totalCount
                            })
                        }
                        else{
                            axios.get("/goods/kind/"+this.searchKindId+"/"+this.pageSize + "/"+this.currentPage).then((res)=>{
                                this.goodsList = res.data.data
                                this.total = res.data.totalCount
                            })
                        }
                    }
                    else{
                        if(this.searchKindId===undefined||this.searchKindId===0){
                            axios.get("/goods/keyWord/" +this.searchKey+"/"+ this.pageSize + "/"+this.currentPage).then((res) => {
                                this.goodsList = res.data.data
                                this.total = res.data.totalCount
                            })
                        }
                        else{
                            axios.get("/goods/kindAndKeyWord/"+this.searchKindId+"/"+this.searchKey+"/"+this.pageSize + "/"+this.currentPage).then((res)=>{
                                this.goodsList = res.data.data
                                this.total = res.data.totalCount
                            })
                        }
                    }
                }
            }
        },
        created() {
            this.kindList=[{id:0,kindName:"全部"}]
            axios.get("/goods/kindList").then((res)=>{
                for(let i in res.data){
                    this.kindList.push(res.data[i])
                }
            })
           this.getGoods()
        }
    })
</script>
</html>