<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap5/css/bootstrap.min.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="./js/element-ui/lib/theme-chalk/index.css">
    <script src="./js/element-ui/lib/index.js"></script>
    <title>我的卖出</title>
</head>
<body style="background-color: #f7f7f7">
<div id="app">
    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-submenu style="float: right;margin-top: 2px" index="5">
                    <template slot="title">个人中心</template>
                    <el-menu-item index="5-1">
                        <a style="text-decoration: none" href="userDetails.html" class="text-secondary">我的信息</a>
                    </el-menu-item>
                    <el-menu-item index="5-2">
                        <a style="text-decoration: none" href="changeUserPassword.html" class="text-secondary">修改密码</a>
                    </el-menu-item>
                </el-submenu>
                <el-submenu style="float: right;margin-top: 2px" index="4">
                    <template slot="title">我的交易</template>
                    <el-menu-item index="4-1">
                        <a style="text-decoration: none" href="purchaseHistory.html" class="text-secondary">我的购买</a>
                    </el-menu-item>
                    <el-menu-item index="4-2">
                        <a style="text-decoration: none" href="sellHistory.html" class="text-secondary">我的卖出</a>
                    </el-menu-item>
                </el-submenu>
                <el-menu-item style="float: right" index="3">
                    <a style="text-decoration: none" href="myGoods.html">我的商品</a>
                </el-menu-item>
                <el-menu-item style="float: right" index="2">
                    <a style="text-decoration: none" href="addGoods.html">商品发布</a>
                </el-menu-item>
                <el-menu-item style="float: right" index="1">
                    <a style="text-decoration: none" href="goods.html">商品浏览</a>
                </el-menu-item>
            </el-menu>
        </el-header>
        <el-main>
            <div class="container text-center">
                <el-radio-group v-model="mode" class="mt-3" @change="changeMode">
                    <el-radio-button label="全部"></el-radio-button>
                    <el-radio-button label="交易中"></el-radio-button>
                    <el-radio-button label="交易成功"></el-radio-button>
                    <el-radio-button label="交易失败"></el-radio-button>
                </el-radio-group>
                <el-table :data="dealList" stripe class="fs-5 mt-3">
                    <el-table-column align="center">
                        <template slot-scope="scope">
                            <a :href="'details.html?id='+scope.row.goods.id" style="text-decoration: none">
                                <img
                                        :src="scope.row.goods.imgPath"
                                        style="width: 100px; height: 100px;object-fit: contain">
                            </a>
                        </template>
                    </el-table-column>
                    <el-table-column prop="goods.goodsName" label="商品名称" align="center"></el-table-column>
                    <el-table-column label="价格" align="center">
                        <template slot-scope="scope">
                            ￥&nbsp;{{scope.row.goods.price}}
                        </template>
                    </el-table-column>
                    <el-table-column label="买家" align="center">
                        <template slot-scope="scope">
                            <a :href="'/userDetails.html?id='+scope.row.user.id" style="text-decoration: none">
                                <span class="text-primary">@{{scope.row.user.userName}}</span>
                            </a>
                        </template>
                    </el-table-column>
                    <el-table-column prop="state" label="交易状态" align="center"></el-table-column>
                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <div v-if="scope.row.state!='交易中'">
                                <el-popconfirm
                                        title="确定隐藏吗？"
                                        @confirm="hideDeal(scope.row)">
                                    <el-button type="info" slot="reference">隐藏交易</el-button>
                                </el-popconfirm>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination
                        class="text-center mt-3"
                        background
                        layout="prev, pager, next"
                        :total="total"
                        :page-size="pageSize"
                        @current-change="changePage">
                </el-pagination>
            </div>
        </el-main>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            activeIndex: '4-2',
            dealList: [],
            mode: '全部',
            currentPage: 1,
            pageSize: 12,
            total: 0,
        },
        methods: {
            changePage(currentPage) {
                this.currentPage = currentPage
                this.getDealList()
            },
            getDealList() {
                if (this.mode === '全部') this.getAllSell()
                if (this.mode === '交易中') this.getDealingSell()
                if (this.mode === '交易成功') this.getDoneSell()
                if (this.mode === '交易失败') this.getFailedSell()
            },
            changeMode(mode) {
                this.mode = mode
                this.currentPage = 1
                this.getDealList()
            },
            hideDeal(row) {
                axios.put("/deals/sellHideDeal/" + row.deal.id).then((res) => {
                    if (res.data) {
                        this.$message({
                            showClose: true,
                            message: '隐藏成功',
                            type: 'success'
                        })
                        this.getDealList()
                    } else {
                        this.$message({
                            showClose: true,
                            message: '隐藏失败',
                            type: 'error'
                        })
                    }
                })
            },
            getAllSell() {
                axios.get("/deals/mySell/all/" + this.pageSize + "/" + this.currentPage).then((res) => {
                    this.dealList = res.data.data
                    this.total = res.data.totalCount
                })
            },
            getDealingSell() {
                axios.get("/deals/mySell/dealing/" + this.pageSize + "/" + this.currentPage).then((res) => {
                    this.dealList = res.data.data
                    this.total = res.data.totalCount
                })
            },
            getDoneSell() {
                axios.get("/deals/mySell/done/" + this.pageSize + "/" + this.currentPage).then((res) => {
                    this.dealList = res.data.data
                    this.total = res.data.totalCount
                })
            },
            getFailedSell() {
                axios.get("/deals/mySell/failed/" + this.pageSize + "/" + this.currentPage).then((res) => {
                    this.dealList = res.data.data
                    this.total = res.data.totalCount
                })
            },
        },
        created() {
            this.getDealList()
        },
        mounted() {

        }
    })
</script>
</html>